html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	font-size: 100%;
	font: inherit;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
  height: 100%;
}

body {
  font-family: 'Oxygen', sans-serif;
  min-height: 100%;
  position: relative;
}

body::after {
  content: '';
  display: block;
  height: 30px;
}

header {
  display: flex;
  justify-content: space-between;
}

.name-container {
  display: flex;
  margin: 0 0 0 20px;
}

.name-container p {
  margin: 0 10px 0 0;
  font-size: 28px;
}

.profile {
  margin: 20px;
}

.profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #333
}

.profile ul li {
  list-style: none;
}

.profile ul li a {
  text-decoration: none;
  color: #333;
  padding: 5px;
  display: block;
}

.profile ul li a:hover {
  background: #ccc;
  border-radius: 4px;
}

h1 {
  color: #333;
  font-size: 64px;
  margin: 20px;
}

.project-list {
  margin: 20px 0 0 0;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;  
}

.project-list li {
  list-style: none;
  margin: 10px;
}

.project-list li a {
  display: block;
  height: 400px;
  width: 300px;
  background: #ccc;
  text-decoration: none;
  color: #333;
  text-align: center;
  font-weight: bold;
  transition: background 0.5s, color 0.5s;
}

.project-list li a:hover {
  background: #333;
  color: #ccc;
}

.project-list li a img {
  height: 340px;
  width: 280px;
  margin: 10px;
}

footer {
  background: #333;
  bottom:0; 
  color: #ccc;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  position:absolute; 
  text-align: center;
  width:100%; 
}